body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#icon {
    width: 70px;
    height: 80px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: darkolivegreen;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#link {
     padding-right: 10px;
}

#noticias {
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(131, 2, 2);
    border-radius: 15px;
    max-width: 404px;
}

.img_noticia {
    width: 400;
    height: 280px;
    border: 4px red;
    border-radius: 15px;
}

#Escalacao {  
    text-align: center;
    margin: 5px;
    padding: 6px;
    border: 4px solid rgba(2, 121, 12, 0.493);
    border-radius: 15px;
 }


 #titulo_escalacao{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        text-align: center;
        justify-content: space-around;
        padding: 5px;
        color: white;
        background-color: black;
        border: 10px solid rgb(255, 255, 255);
}


.Mascote{
    bottom: 10px;
    padding: 5px;
    height: 200px;
    width: 200px;


}


#jogadores{
    border: 5px solid rgb(87, 4, 4);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}


.jogador{
    text-align: center;
    border: 10px;
    width: 5px;
    padding: 5px;
   


}
#icone_jogador{
    width: 100px;
    height: 90px;


}
#central{
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}
