body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#icon {
    width: 70px;
    height: 80px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: darkolivegreen;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#link {
     padding-right: 10px;
}

#noticias {
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(131, 2, 2);
    border-radius: 15px;
    max-width: 405px;
}

.img_noticia {
    width: 400;
    height: 280px;
    border: 4px red;
    border-radius: 15px;
}
